<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apl.lms.common.mapper.BulkyWayMapper">

    <!-- 查找计泡方式列表-->
    <select id="getList" resultType="com.apl.lms.common.query.manage.dto.BulkyWayDto">
        SELECT
            id,
            bulky_way_name,
            bulky_way_name_en,
            computing_formula,
            code
        FROM
            common_bulky_way

    </select>


</mapper>
