<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apl.lms.common.mapper.CacheMapper">

    <!-- 添加仓库缓存 -->
    <select id="addCountryCache" resultType="com.apl.lms.common.lib.cache.CountryCacheBo">
        SELECT
            concat('JOIN_CACHE:country_', #{innerOrgId}, '_', country_code) AS cache_key,
            country_code,
            name_cn,
            name_en
        FROM
            country
        where
            country_code in(#{codes})
    </select>

    <select id="addAirCarrierCache" resultType="com.apl.lms.common.lib.cache.AirCarrierCacheBo">
        select
            concat('JOIN_CACHE:airCarrier_', #{innerOrgId}, '_', carrier_code) as cache_key,
            carrier_code,
            name_cn,
            name_en
        from
            air_carrier
        where
            id in(#{keys})
    </select>

    <select id="addAirPortCache" resultType="com.apl.lms.common.lib.cache.AirPortCacheBo">
        select
            concat('JOIN_CACHE:airPort_' , #{innerOrgId}, '_', port_code) as cache_key,
            port_code,
            name_cn,
            name_en,
            home_country
        from
            air_port
        where
            port_code in(#{codes})

    </select>

    <select id="addSeaPortCache" resultType="com.apl.lms.common.lib.cache.SeaPortCacheBo">
        select
            concat('JOIN_CACHE:seaPort_', #{innerOrgId}, '_', port_code) as cache_key,
            port_code,
            name_cn,
            name_en,
            home_country
        from
            sea_port
        where
            id in(#{keys})
    </select>

    <select id="addSeaCarrierCache" resultType="com.apl.lms.common.lib.cache.SeaCarrierCacheBo">
        select
            concat('JOIN_CACHE:seaCarrier_', #{innerOrgId}, '_', carrier_code) as cache_key,
            carrier_code,
            name_cn,
            name_en
        from
            sea_carrier
        where
            id in(#{keys})
    </select>

    <select id="addCommodityUnitCache" resultType="com.apl.lms.common.lib.cache.CommodityUnitCacheBo">
        select
            concat('JOIN_CACHE:commodity_unit', #{innerOrgId}, '_', unit_code) as cache_key,
            unit_code,
            unit_name
        from
            commodity_unit
        where
            id in(#{keys})
    </select>

    <select id="addSpecialCommodityCache" resultType="com.apl.lms.common.lib.cache.SpecialCommodityCacheBo">
        select
            concat('JOIN_CACHE:special_commodity', #{innerOrgId}, '_', code) as cache_key,
            id,
            special_commodity_name
        from
            special_commodity
        where
            id in(#{keys})
    </select>

    <select id="addSurchargeCache" resultType="com.apl.lms.common.lib.cache.SurchargeCacheBo">
        select
            concat('JOIN_CACHE:surcharge', #{innerOrgId}, '_', code) as cache_key,
            id,
            charge_name,
            computing_formula,
            currency
        from
            surcharge
        where
            id in(#{keys})
    </select>

    <select id="addWeightWayCache">
        select
            concat('JOIN_CACHE:weight_way', #{innerOrgId}, '_', code) as cache_key,
            id,
            weight_way_name,
            computing_formula
        from
            weight_way
        where
            id in(#{keys})
    </select>
</mapper>
