<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apl.lms.common.mapper.CacheMapper">

    <!-- 添加国家 缓存 -->
    <select id="addCountryCache" resultType="com.apl.lms.common.lib.cache.CountryCacheBo">
        SELECT
            concat('JOIN_CACHE:country_', country_code) AS cache_key,
            country_code,
            name_cn,
            name_en
        FROM
            country
        where
            country_code in(${keys})
    </select>

    <select id="addAirCarrierCache" resultType="com.apl.lms.common.lib.cache.AirCarrierCacheBo">
        select
            concat('JOIN_CACHE:airCarrier_', carrier_code) as cache_key,
            carrier_code,
            name_cn,
            name_en
        from
            air_carrier
        where
            carrier_code in(${keys})
    </select>

    <select id="addAirPortCache" resultType="com.apl.lms.common.lib.cache.AirPortCacheBo">
        select
            concat('JOIN_CACHE:airPort_' , port_code) as cache_key,
            port_code,
            name_cn,
            name_en,
            home_country
        from
            air_port
        where
            port_code in(${keys})

    </select>

    <select id="addSeaPortCache" resultType="com.apl.lms.common.lib.cache.SeaPortCacheBo">
        select
            concat('JOIN_CACHE:seaPort_',port_code) as cache_key,
            port_code,
            name_cn,
            name_en,
            home_country
        from
            sea_port
        where
            port_code in(${keys})
    </select>

    <select id="addSeaCarrierCache" resultType="com.apl.lms.common.lib.cache.SeaCarrierCacheBo">
        select
            concat('JOIN_CACHE:seaCarrier_',carrier_code) as cache_key,
            carrier_code,
            name_cn,
            name_en
        from
            sea_carrier
        where
            carrier_code in(${keys})
    </select>

    <select id="addCommodityUnitCache" resultType="com.apl.lms.common.lib.cache.CommodityUnitCacheBo">
        select
            concat('JOIN_CACHE:commodity_unit_',unit_code) as cache_key,
            unit_code,
            unit_name
        from
            commodity_unit
        where
            unit_code in(${keys})
    </select>

    <select id="addSpecialCommodityCache" resultType="com.apl.lms.common.lib.cache.SpecialCommodityCacheBo">
        select
            concat('JOIN_CACHE:special_commodity_',code) as cache_key,
            code,
            special_commodity_name,
            special_commodity_name_en
        from
            special_commodity
        where
            code in(${keys})
    </select>

    <select id="addSurchargeCache" resultType="com.apl.lms.common.lib.cache.SurchargeCacheBo">
        select
            concat('JOIN_CACHE:surcharge_',code) as cache_key,
            code,
            charge_name,
            charge_name_en,
            computing_formula,
            currency
        from
            surcharge
        where
            code in(${keys})
    </select>

    <select id="addWeightWayCache">
        select
            concat('JOIN_CACHE:weight_way_',code) as cache_key,
            code,
            weight_way_name,
            weight_way_name_en,
            computing_formula
        from
            weight_way
        where
            code in(${keys})
    </select>
</mapper>
