<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apl.lms.common.mapper.CountryMapper">

    <!-- 删除 2020-04-13-->
    <delete id="deleteCountryByCode" parameterType="java.lang.String">
        delete from common_country where country_code = #{countryCode};
    </delete>


    <!-- 分页查找列表 2020-04-13-->
    <select id="getListCountryByPage"  resultType="com.apl.lms.common.query.manage.dto.CountryAddDto">
        SELECT
        country_code,
        name_cn,
        name_en,
        home_country,
        start_zip,
        end_zip,
        type,
        alias_name
        FROM
        common_country
        <where>
            1 = 1
            <if test="key.type != 0">
                and type = #{key.type}
            </if>
            <if test="key.homeCountry != null">
                <if test="key.type != 0 and key.type != null">
                    and home_country = #{key.homeCountry}
                </if>
            </if>
            <if test="key.keyword != null">
                and (country_code = #{key.upperKeyword}
                OR name_cn LIKE CONCAT( '%' , #{key.keyword} , '%' )
                OR start_zip LIKE CONCAT( '%' , #{key.keyword} , '%' )
                OR end_zip LIKE CONCAT( '%' , #{key.keyword} , '%' )
                OR alias_name LIKE CONCAT( '%' , #{key.keyword} , '%' )
                OR home_country LIKE CONCAT( '%' , #{key.keyword} , '%' )
                <if test="key.keyword.length()>2">
                OR name_en LIKE CONCAT( '%' , #{key.keyword} , '%' )
                </if>
                )
            </if>

        </where>
            order by country_code
    </select>

    <!-- 检查记录是否重复 -->
    <select id="exists" resultType="com.apl.lms.common.query.manage.dto.CountryAddDto">
        SELECT
        country_code,
        name_cn,
        name_en
        FROM
        common_country
        WHERE
        (country_code = #{countryCode} OR name_cn = #{nameCn} OR name_en = #{nameEn})
    </select>

</mapper>
