<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apl.lms.common.mapper.SurchargeMapper">

    <!-- 查找附加费列表-->
    <select id="getList" resultType="com.apl.lms.common.query.manage.po.SurchargePo">
        SELECT
            id,
            charge_name,
            charge_name_en,
            code
        FROM
            common_surcharge

    </select>

    <!--批量插入附加费-->
    <insert id="addSurcharge">
        insert into
            common_surcharge(id, charge_name, charge_name_en, code)
        values
        <foreach collection="po" index="" separator="," item="row" open="" close="">
            (
                #{row.id}, #{row.chargeName}, #{row.chargeNameEn}, #{row.code}
            )
        </foreach>

    </insert>

    <!--删除-->
    <delete id="delById">
        delete from common_surcharge where id = #{id}
    </delete>

</mapper>
