<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apl.lms.common.mapper.SurchargeMapper">

    <!-- 查找附加费列表-->
    <select id="getList" resultType="com.apl.lms.common.query.manage.dto.SurchargeDto">
        SELECT
            id,
            charge_name,
            charge_name_en,
            computing_formula,
            currency,
            code
        FROM
            surcharge
        where
            1=1
        <if test="key.keyword != null">
            and locate(#{key.keyword}, charge_name)>0
            or locate(#{key.keyword}, charge_name_en)>0
            or code = #{key.keyword}
        </if>
    </select>

</mapper>
