<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apl.lms.common.mapper.SeaPortMapper">



    <!-- 查找详情 2020-04-13-->
    <select id="getById" resultType="com.apl.lms.common.dto.SeaPortDto">
        SELECT
          id, 
          port_code,
          name_cn, 
          name_en, 
          home_country,
          alias_name
        FROM
          sea_port
        where
          id = #{id}
    </select>

    <!-- 查找列表 2020-04-13-->
    <select id="getList" resultType="com.apl.lms.common.vo.SeaPortListVo">
        SELECT
           sp.id,
           sp.port_code,
           sp.name_cn,
           sp.name_en,
           sp.home_country,
           sp.alias_name,
           co.name_cn as country_name_cn,
           co.name_en as country_name_en
        FROM
           sea_port sp
           INNER JOIN country co ON sp.home_country = co.country_code
        <where>
            1 = 1
            <if test="key.homeCountry != null and key.homeCountry != ''">
                and
                sp.home_country = #{key.homeCountry}
            </if>
            <if test="key.keyword != null and key.keyword != ''">
                and
                (sp.port_code = #{key.keyword}
                OR sp.name_cn LIKE CONCAT( '%' , #{key.keyword} , '%' )
                OR sp.home_country LIKE CONCAT( '%' , #{key.keyword} , '%' )
                OR sp.alias_name LIKE CONCAT( '%' , #{key.keyword} , '%' )
                OR co.name_cn LIKE CONCAT( '%' , #{key.keyword} , '%' )
                <if test="key.keyword.length()>2">
                OR sp.name_en LIKE CONCAT( '%' , #{key.keyword} , '%' )
                OR co.name_en LIKE CONCAT( '%' , #{key.keyword} , '%' )
                </if>)
            </if>
        </where>
    </select>

    <!-- 检查记录是否重复 -->
    <select id="exists" resultType="com.apl.lms.common.dto.SeaPortDto">
        SELECT
        id,
        port_code,
        name_cn,
        name_en
        FROM
        sea_port
        <where>
            (port_code = #{portCode} OR name_cn = #{nameCn} OR name_en = #{nameEn})
            <if test="id != null and id > 0">
                AND id !=  #{id}
            </if>
        </where>
            order by port_code
    </select>
</mapper>
